<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Parties
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" padding class="bg-image">
  <h2 *ngIf="user">
    Welcome {{user.displayName}}
  </h2>
   
  <div *ngIf="pendingParties.length">
    <h4 class="ion-text-center">Pending parties</h4>
    <ion-card *ngFor="let party of pendingParties" class="parti-card">
        <ion-card-header color='primary' (click)="expandToggle(party,'card')">
            <ion-card-subtitle>{{party.partyType}} parti</ion-card-subtitle>
            <ion-icon *ngIf="!party.expanded" name="arrow-down" style="float:right; font-size: 20px;"></ion-icon>
            <ion-icon *ngIf="party.expanded" name="arrow-up" style="float:right; font-size: 20px;"></ion-icon>
            <ion-card-title>{{party.partyName}}</ion-card-title>      
        </ion-card-header>
        <app-expandable [expandHeight]='itemExpandHeight' [expanded]='party.expanded'>
            <div>
                <ion-list lines="none">
                  <ion-item>
                    <ion-label slot="start">Leader</ion-label>
                    <ion-label>{{party.partyLeader.displayName}}</ion-label>
                  </ion-item>
                  <ion-item class="item-tint">
                      <ion-icon name="pin" slot="start"></ion-icon>
                      <ion-label>{{party.place}}</ion-label>
                      <ion-button fill="outline" slot="end" color='primary'>Maps</ion-button>
                  </ion-item>
                  <ion-item>
                      <ion-icon name="clock" slot="start"></ion-icon>
                      <ion-label>{{convertTimeStamp(party.time)}}</ion-label>
                  </ion-item>
                  <ion-item class="item-tint" (click)="expandToggle(party,'member')">
                      <ion-label slot="start">Members</ion-label>
                      <ion-label>{{party.memberCount}}</ion-label>
                      
                  </ion-item>
                  <ion-item>
                      <ion-label slot="start">Max Members</ion-label>
                      <ion-label>{{party.memberCount}} out of {{party.maxMembers}}</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-button (click)="partiDetail(party.partyId)">
                      View parti details
                    </ion-button>
                  </ion-item>
                  <ion-button expand="block" class="button-color" (click)="joinParty(party)" style="font-size:15px;">join parti</ion-button>
                </ion-list>
              </div>
        </app-expandable>
    </ion-card>
  </div>
  <div *ngIf="onGoingParties.length">
      <h4 class="ion-text-center">Ongoing parties</h4>
      <ion-card *ngFor="let party of onGoingParties" class="parti-card">
          <ion-card-header color='primary' (click)="expandToggle(party,'card')">
              <ion-card-subtitle>{{party.partyType}} parti</ion-card-subtitle>
              <ion-icon *ngIf="!party.expanded" name="arrow-down" style="float:right; font-size: 20px;"></ion-icon>
              <ion-icon *ngIf="party.expanded" name="arrow-up" style="float:right; font-size: 20px;"></ion-icon>
              <ion-card-title>{{party.partyName}}</ion-card-title>      
          </ion-card-header>
          <app-expandable [expandHeight]='itemExpandHeight' [expanded]='party.expanded'>
              <div>
                  <ion-list lines="none">
                    <ion-item>
                      <ion-label slot="start">Leader</ion-label>
                      <ion-label>{{party.partyLeader.displayName}}</ion-label>
                    </ion-item>
                    <ion-item class="item-tint">
                        <ion-icon name="pin" slot="start"></ion-icon>
                        <ion-label>{{party.place}}</ion-label>
                        <ion-button fill="outline" slot="end" color='primary'>Maps</ion-button>
                    </ion-item>
                    <ion-item>
                        <ion-icon name="clock" slot="start"></ion-icon>
                        <ion-label>{{convertTimeStamp(party.time)}}</ion-label>
                    </ion-item>
                    <ion-item class="item-tint" (click)="expandToggle(party,'member')">
                        <ion-label slot="start">Members</ion-label>
                        <ion-label>{{party.memberCount}}</ion-label>
                        
                    </ion-item>
                    <ion-item>
                        <ion-label slot="start">Max Members</ion-label>
                        <ion-label>{{party.memberCount}} out of {{party.maxMembers}}</ion-label>
                    </ion-item>
                    <ion-button (click)="partiDetail(party.partyId)">
                      view parti details
                    </ion-button>
                    <ion-button expand="block" class="button-color" (click)="leaveParty(party)" style="font-size:15px;">leave parti</ion-button>
                  
                  </ion-list>
                </div>
          </app-expandable>
      </ion-card>
  </div>
  <h4 class="ion-text-center" *ngIf="!pendingParties.length">No pending parties</h4>
  <h4 class="ion-text-center" *ngIf="!onGoingParties.length">No ongoing parties</h4>
</ion-content>
<ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="goToPage('/create-party')">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
</ion-fab>



