<ion-header *ngIf="user">
  <ion-toolbar class="color-grey">
    <ion-title class='ion-text-center'>
      {{user.displayName}}
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()"><ion-icon slot="start" name="arrow-back"></ion-icon> Back</ion-button>
    </ion-buttons>
    <div slot='end'class="div-comp"></div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div>
    <div>
      <img [src]="user?.profilePic" style="width: 160px;height: 240;" alt="your image">
      
    </div>
    <ion-item lines="none">
        <div *ngIf="user" >Display name: {{user.displayName}}</div>
    </ion-item>
    <ion-item lines="none">
        <div *ngIf="user" >Email: {{user.email}}</div>
    </ion-item>
  </div>
  
  <div>
    <h4 class="ion-text-center">friends </h4> 
    <div *ngIf="friends">
      <ion-item *ngFor="let friend of friends">
        <ion-label>{{friend.displayName}}</ion-label>
        <ion-button fill="outline" slot="end" (click)="viewProfile(friend.uid)">view profile</ion-button>
      </ion-item>
    </div>
    
  </div>


</ion-content>
