<ion-header>
  <ion-toolbar>
    <ion-title>
      Groups
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngIf="groups">
    <ion-item *ngFor="let group of groups"> 
        <ion-card class="big-cards" type="button" (click)="editGroup(group.groupId)">
            <ion-item>
              <ion-label>{{group.groupName}}</ion-label>
            </ion-item>
        </ion-card>
    </ion-item>
  </ion-list>
  <ion-button (click)="goToCreateGroup()">Create Group</ion-button>
</ion-content>
