.line-input {
    margin-bottom: 0!important;
    ion-item {
        --border-color: transparent!important;
        --highlight-height: 0;
        border: 1px solid #dedede;
        border-radius: 4px;
        &.item-has-focus {
            border: 1px solid var(--ion-color-primary);
        }
        ion-label {
            color: #807e7e!important;
            font-weight: 300;
            font-size: 1rem!important;
        }
    }
}

.line-input-invalid {
    margin-bottom: 0!important;
    ion-item {
        --border-color: transparent!important;
        --highlight-height: 0;
        border: 1px solid #f04141;
        border-radius: 4px;
        &.item-has-focus {
            border: 1px solid var(--ion-color-primary);
        }
        ion-label {
            color: #807e7e!important;
            font-weight: 300;
            font-size: 1rem!important;
        }
    }
}

.item-select-invalid {
    border-bottom: 1px solid #f04141;
}

.background-input {
    margin-bottom: 0!important;
    ion-item {
        --border-color: transparent!important;
        --highlight-height: 0;
        --background: none;
        background: rgba(var(--ion-color-primary-rgb), 0.06);
        border-radius: 4px;
        ion-label {
            color: #777!important;
            font-weight: 300;
            font-size: 1rem!important;
        }
        ion-input {
            --color: #777;
        }
    }
}