@mixin shape($width, $height) {
    width: $width;
    height: $height;
    border-radius: $height;
}

@mixin visible-pseudo-element($width, $height) {
    position: absolute;
    display: block;
    content: '';
}

@mixin progress-bar(
    $width: 500px, 
    $height: 30px,
    $background-color: #666,
    $bar-color: #40d0ed,
    $shadow-gradient: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 5%, transparent),
    $highlight-gradient: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 5%, transparent)
    ) {
        
    //progress bar container
    @include shape($width, $height);
    position: relative;
    background: $background-color;
    
    &::before {
        @include shape($width, $height);
        @include visible-pseudo-element($width, $height);
        background: $shadow-gradient;
    }

    .progress-bar {
        &,
        &::after {
            transition: width 0.4s;
        }
        
        @include shape($width, $height);
        position: relative;
        background: $bar-color;
        
        &::after {
            @include shape($width, $height);
            @include visible-pseudo-element($width, $height);
            
            background: $highlight-gradient;
        }
        
        @for $i from 0 through 100 {
            $percentage: $i / 100;
            &.p-#{$i} {
                width: $width * $percentage;

                &::after {
                    width: $width * $percentage;
                }    
            }
        }
    } 
}

.wrapper {  
    #download-progress {
        margin: 100px auto;
        
        @include progress-bar;
    }
}