<ion-header>
  <ion-toolbar>
    <ion-title class='ion-text-center'>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div>
    <img src="assets/img/jisoo.jpg" style="width: 160px;height: 240;" alt="your image">
    <ion-item lines="none">
        <div *ngIf="user" >Display name: {{user.displayName}}</div>
        <ion-button (click)="goToChangeDisplayName()" slot='end'>change</ion-button>
    </ion-item>
    <ion-item lines="none">
        <div *ngIf="user" >Email: {{user.email}}</div>
    </ion-item>
  </div>
  
  <div>
    <h4 class="ion-text-center">friends </h4> 
    <ion-button (click)="goToFindFriendsPage()">find friends</ion-button>
    <div *ngIf="friends"><ion-item *ngFor="let friend of friends">{{friend.displayName}}</ion-item></div>
  </div>


</ion-content>
