<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="group">{{group.groupName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div>
    <h3>Members</h3>
    <ion-list *ngFor="let member of membersWithoutCurrUser">
      <ion-item>
          <ion-label>
            {{member.displayName}} 
          </ion-label>
          <ion-button fill="outline" slot="end" (click)="confirmRemove(member.uid,member.displayName)">remove from group</ion-button>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="nonMembers && nonMembers.length">
      <h3>Non Members</h3>
      <form *ngIf="addUserForm" [formGroup]="addUserForm" (ngSubmit)="addMembers()">
          <ion-list>
            <ion-item *ngFor="let nonMember of nonMembers">
              <ion-label>
                {{nonMember.displayName}}
              </ion-label>
              <ion-checkbox [formControlName]="nonMember.uid"></ion-checkbox>
            </ion-item>
          </ion-list>
          <ion-button ion-button type="submit">add members</ion-button>
      </form>
  </div>
  <ion-button (click)="back()">Back</ion-button>
  <ion-button (click)="leaveGroup()" >Leave Group</ion-button>
</ion-content>
