<ion-header>
    <ion-toolbar color="primary">
        <ion-title *ngIf="group" class="ion-text-center">{{group.groupName}}</ion-title>
      <ion-buttons slot="start">
        <ion-button (click)="back()"><ion-icon slot="start" name="arrow-back"></ion-icon> Back</ion-button>
      </ion-buttons>
      <div slot='end'class="div-comp"></div>
    </ion-toolbar>
  </ion-header>

<ion-content class="ion-padding">
  <div>
    <h3>Members</h3>
    <ion-list *ngFor="let member of membersWithoutCurrUser" lines='none'>
      <ion-item>
          <ion-label>
            {{member.displayName}} 
          </ion-label>
          <ion-button fill="outline" slot="end" (click)="confirmRemove(member.uid,member.displayName)">remove from group</ion-button>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="nonMembers && nonMembers.length">
      <h3>Non Members</h3>
      <form *ngIf="addUserForm" [formGroup]="addUserForm" (ngSubmit)="addMembers()">
          <ion-list lines="none">
            <ion-item *ngFor="let nonMember of nonMembers">
              <ion-label>
                {{nonMember.displayName}}
              </ion-label>
              <ion-checkbox [formControlName]="nonMember.uid"></ion-checkbox>
            </ion-item>
          </ion-list>
          <div>
            <ion-button ion-button type="submit" >add members</ion-button>
            
            <ion-button (click)="leaveGroup()" style="float:right">Leave Group</ion-button>
          </div>
      </form>
  </div>
</ion-content>
